<!DOCTYPE html>
<html>
<head>
	<% include ./_head %>
</head>
<body>
  <div class="landing-page-wrapper">
    <div class="headerlp headerlp--landing-page">
        <img src="http://i.imgur.com/w12ic2W.png" />
        <p class="headerlp headerlp--supporters pull-right">About</p>
        <p class="headerlp headerlp--supporters" pull-right">How It Works</p>
        <p class="headerlp headerlp--supporters" pull-right">FAQ</p>
    </div>

    <div class="container">
      <div class="landing-page-items" align="center">
        <h1>When life beats you up, who is in your corner?</h1>
        <br>
        <h2>Dealing with a miscarriage can be difficult.</h2>
        <br>
        <h2><strong>We need each other.</strong></h2>
        <a href="/supporters" type="button" class="btn button--landing-page"><span class="button__text--large">Find and Connect</span><br><span class="button__text--small">with people in your church community<br> who know how you feel</span></a>
      </div>
    </div>

    <div class="headerlp headerlp--footer">
      <img src="http://i.imgur.com/Zrr5qn6.png" />
    </div>
  </div>
</body>
</html>

