<!DOCTYPE html>
<html>
<head>
	<% include ./_head %>
</head>
<body>

  <div class="container">
    <div class="landing-page-items" align="center">
      <p>When life beats you up, who is in your corner?</p>
      <p>We need each other.</p>
      <a href="/supporters" type="button" class="btn button--landing-page"><span class="text__button--large">Find and Connect</span><br><span class="text__button--small">with people in your church community<br> who know how you feel</span></a>
    </div>
  </div>


</body>
</html>