<!DOCTYPE html>
<html>
<head>
	<% include ./_head %>
</head>
<body>

  <div class="container">
    <div class="landing-page-items" align="center">
      <h2>When life beats you up, who is in your corner?</h2>
      <h2>We need each other.</h2>
      <a href="/supporters" type="button" class="btn button--landing-page"><span class="button__text--large">Find and Connect</span><br><span class="button__text--small">with people in your church community<br> who know how you feel</span></a>
    </div>
  </div>


</body>
</html>