<!DOCTYPE html>
<html>
<head>
	<% include ./_head %>
</head>
<body>
<% include ./_nav %>

<div class="container">
	<span class="glyphicon glyphicon-menu-left back-to-supporters back" role="button"></span>
	<form class="container--form" id="createSupporterForm">
		<div class="row picDetails">
			<div class="pull-left image">
				<img src="/images/defaultProfilePic.png" id="profilePic" alt="" width="100" height="100" />
			  <div class="form-group">
			    <label for="exampleInputFile">Upload Photo</label>
			    <input type="text" name="image_url" id="image_url"
		    onchange="document.getElementById('profilePic').src = document.getElementById('image_url').value">
			    <p class="help-block">Enter image url.</p>
			  </div>
			</div>
			<div class="pull-right">
				<div class="form-group">
			    <label for="firstName">First Name</label>
			    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name">
			  </div>
			  <div class="form-group">
			    <label for="email">Email address</label>
			    <input type="email" class="form-control" id="email" name="email" placeholder="Email">
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
		    <label for="tagline">What is one sentence that describes your life?</label>
		    <input type="text" class="form-control" id="tagline" name="tagline"></textarea> 
		    <p class="help-block">For Example: Married for 10 years, have 3 kids and 2 miscarriages and live in San Francisco.</p>
		  </div>
		</div>
		<div class="row">
			<div class="form-group">
		    <label for="experience">Tell us about yourself and what you went through.</label>
		    <textarea type="text" class="form-control" id="experience" name="experience"></textarea> 
		  </div>
		</div>
		<div class="row">
			<div class="form-group">
		    <label for="quotes">Quotes and scriptures that helped you out?</label>
		    <textarea type="text" class="form-control" id="quotes" name="quote"></textarea> 
		  </div>
		</div>
		<div class="row">
			<div class="form-group">
		    <label for="resources">What are some resources that helped you?</label>
		    <textarea type="text" class="form-control" id="resources" name="resources"></textarea> 
		  </div>
		</div>
		<div class="row">
		</div>
		<div class="row">
		</div>
		<div class="row formActions">
  		<button type="submit" class="btn btn-default">Submit</button>
	  </div>
	</form>
</div>

</body>
</html>