html {
	height: 100%;
}
body {
	font-family: 'Roboto', sans-serif;
	color: white;
	min-height: 100%;
	background-color: #3f3437;
}

.body--landing-page {
	background-image: url(http://i.imgur.com/b3kyKwo.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.landing-page-items {
	margin: 15% 0;
}

.headerlp--landing-page {
	margin-top: 50px;
	margin-left: 150px;
	margin-right: 150px;
}

.headerlp--supporters {
	color: #b5afaf;
	text-align: center;
	float: right;
	padding: 10px;
	height: 10px;
	width: 120px;
}

.headerlp--footer{
	margin-bottom: 50px;
	margin-left: 150px;
	margin-right: 150px;
	text-align: right;
}


.logo {
	color: black !important;
	text-decoration: none !important;
	font-size: 24px;
}

.button__text--large {
	font-size: 24px;
	font-weight: bold;
}

.button__text--small {
	font-size: 12px;
}

.button--landing-page {
	background-color: white;
	border: 1px solid black;
	border-radius: 50px;
	padding: 10px 30px;
	margin-top: 40px;
	color: black !important;
	box-shadow: 1px 1px 1px black;
}

.contact-me-button {
	margin-bottom: 50px;
	width: 200px;
}

.button__cta {
	background-color: #1ec3ff;
	color: white;
	padding: 20px 30px;
	border-radius: 10px;
	font-size: 20px;
	box-shadow: 1px 1px 1px black;
	border: 1px solid #4f4f4f;
}

.button__cta:hover {
	background-color: #00bbff;
}

.container--header {
	margin: 0 auto;
	background-image: url(http://imgur.com/P9kSotT.jpg);
	background-size: cover;
	height: 70vh;
	width: 100%;
}

.row--header {
	margin: 30px;
}

.header--supporters {
	text-align: center;
	margin: 20% auto;
	max-width: 600px;
	color: white;
}

.back {
	font-size: 30px;
	position: absolute;
	top: 60px;
	left: 20px;
	color: #8C8787;
}

.icon {
	color: #8C8787 !important;
	font-size: 20px !important;
}

.container--form {
	margin: 0 auto;
	background-color: #f7eff1;
	padding: 100px;
}

#createSupporterForm {
	box-shadow: 1px 1px 1px black;
	border-radius: 5px;
	color: #3f3437;
}

#contactSupporterForm {
	width: 60%;
	margin: 0 auto;
	color: #3f3437;
}

.page-new-supporter {
	padding: 100px;
}

.container--modal {
	padding: 30px;
}

.image {
	max-width: 270px;
}

.profile-info {
	margin: 0 50px;
}

.profile-picture {
	width: 100px;
	height: 100px;
}

.help-block {
	font-size: 12px;
}

.contact-inputs {
	margin-left: 200px;
}

.media--list-view {
	box-shadow: 1px 1px 1px black;
	margin: 25px !important;
	padding: 10px;
	background-color: #5e4e51;
	border-radius: 5px;
	color: white;
}

.quote {
	font-weight: 300px !important;
	font-size: 14px;
}

.modal-dialog {
	position: relative;
	width: auto;
	margin: 50px;
}

.modal-content {
	background-color: #f7eff1;
	color: #3f3437;
}

.modal-dialog h3 {
	color: #8C8787;
}

.modal-dialog p {
	margin-left: 30px;
}













