html {
	height: 100%;
}
body {
	font-family: 'Roboto', sans-serif;
	min-height: 100%;
}

.landing-page-items {
	margin: 20% 0;
}

.text__button--large {
	font-size: 24px;
}

.text__button--small {
	font-size: 12px;
}

.back {
	font-size: 30px;
	position: absolute;
	top: 60px;
	left: 20px;
	color: #8C8787;
}

.icon {
	color: #8C8787 !important;
	font-size: 20px !important;
}

.container--form {
	width: 60%;
	margin: 0 auto;
}

.image {
	max-width: 270px;
}

.profile-picture {
	width: 100px;
	height: 100px;
}

.help-block {
	font-size: 12px;
}

.contact-inputs {
	margin-left: 200px;
}